<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.blur.eventhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="tech.blur.eventhub.App"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tech.blur.eventhub.features.event.list.presentation.EventsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tech.blur.eventhub.features.event.add.presentation.AddEventActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="tech.blur.eventhub.features.auth.signin.presentation.SignInActivity" />
        <activity
            android:name="tech.blur.eventhub.features.event.full.presentation.FullEventActivity"
            android:label="@string/title_new_event"/>
        <activity android:name="tech.blur.eventhub.features.auth.signup.presenter.SignUpActivity" />
        <activity
            android:name="tech.blur.eventhub.features.event.my.presenter.MyEventsActivity"
            android:label="@string/title_activity_my_events"
            android:theme="@style/AppTheme" />
        <activity
            android:name="tech.blur.eventhub.features.event.assigned.presenter.AssignedActivity"
            android:label="@string/title_assigned_events"
            />

            android:theme="@style/AppTheme" />
    </application>

</manifest>